:root{
    --corfundo: #2d14ee;
    --corfundo2: #210fdd;
    --cor3: #160acc;
    --cor4: #0b05ba;
    --cor5: #0000a9;
    --textoa: #ffffff;
    --textob: #080808;

}
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Noto Sans", sans-serif;
    font-size: 17px;
}
header{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 80px;
    width: 100%;
    background-color: var(--corfundo);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:1;
}

ul{
    display: flex;
    margin: 60px;
    gap: 20px;
    color: var(--textoa);
    list-style: none;
    a{
    color: var(--textoa);
    text-decoration: none;
    }
}
.duv{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 66px;
    margin: 20px;
    text-decoration: none;
    padding: 3px;
    color: var(--textoa);
    background-color: #312f2f;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 40px;
    height: 70px;
    width: 70px;
    border-radius: 35px;
}
.primeiro{
    display: flex;
    flex-direction: column;
}
.imgf{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.contimg{
    position: absolute;
}