:root{
    --corfundo: #2d14ee;
    --corfundo2: #210fdd;
    --cor3: #160acc;
    --cor4: #0b05ba;
    --cor5: #0000a9;
    --textoa: #ffffff;
    --textob: #080808;

}
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Noto Sans", sans-serif;
    font-size: 17px
}
header{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 80px;
    width: 100%;
    background-color: var(--cor5);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:1;
}

ul{
    display: flex;
    margin: 60px;
    gap: 20px;
    color: var(--textoa);
    list-style: none;
    a{
    color: var(--textoa);
    text-decoration: none;
    }
}
.duv{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 66px;
    margin: 20px;
    text-decoration: none;
    padding: 3px;
    color: var(--textoa);
    background-color: var(--textob);
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 40px;
    height: 70px;
    width: 70px;
    border-radius: 35px;
}
.primeiro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imgf{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.contimg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    margin: auto;
    padding: 15px;
    box-shadow: 0px 0px 5px 0px #000000;
    left: 50%;
    color: var(--textoa);
    width: 40%px;
    background-color: #302f3f6b;
    transform: translateX(-50%);
    
    h1 {
        margin: 0px 0px 40px 0px;
    }
    p {
        margin: 0px 0px 30px 0px;
    }
    a {
        display: flex;
        color: #ffffff;
        text-decoration: none;
        padding: 10px;
        background-color: #050505;
    }
}
.cab1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top:15vh;
    font-size: 25px;
}
.segundo {
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    text-align: center;
    justify-content: center;
    gap: 15vh;
}
.card {
    display: flex;
    align-items: center;
    width: 25%;
    flex-direction: column;
}
.card img {
    height: 40vh;
    width: 100%;
}
.card h2 {
    width: 100%;
    margin-top: 25px;
    text-align: center;
}
.card p {
    margin-top: 25px;
    text-align: center;
}
.card a {
    color: var(--textob);
    text-decoration: none;
    margin: 25px 0px 15vh 0px;
}
.terceiro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 15vh;
    gap: 40px;
    border-top: 1px solid #c4b3b3;
}
.grupos {
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
}
.conts {
    display: flex;
    flex-direction: row;
    width: 80vh;
    gap:20px;
}
.imgs {
    display: flex;
    width: 50%;
    height: 100%;
}
.imgs img {
    display: flex;
    width: 100%;
    height: 100%;
}
#cabgrupo h2 {
    font-size: 40px;
}
#cabgrupo p {
    margin-top: 5vh;
    margin-bottom: 10vh;
}
.box {
    display: flex;
    flex-direction: column;
    i {
        display: flex;
        font-size: 30px;
        margin-bottom: 4vh;
    }
}